# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
/inc/assets/css/admin - Copia.css
/inc/assets/css/admin - Copia.scss
/inc/class-admin - Copia.php
/old/
/assets/banners.psd
/assets/css/admin - Copia.scss
/class/class-mgs-admin - Copia.php
/includes/mgs-lightbox/assets/js/tinymce/icones.psd
/.vscode/settings.json
/test-admin-ux/colores.ai
/test-admin-ux/css/elementos.css
/test-admin-ux/css/elementos.css.map
/test-admin-ux/css/elementos.scss
/test-admin-ux/css/main.css
/test-admin-ux/css/main.css.map
/test-admin-ux/css/main.scss
/test-admin-ux/css/wp.css
/test-admin-ux/img/avada-icon-green-livechat.webp
/test-admin-ux/img/avada.svg
/test-admin-ux/img/elementor.svg
/test-admin-ux/index.html
/.vscode/
/test-admin-ux/
/assets/css/admin - Copia.css.map