@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body.settings_page_mgs_theme_upgrade_page {
  background-color: #f1f1f1; }

.mgs-tu-warp {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 40px;
  width: calc(100% - 50px);
  padding-left: calc(20px / 2); }
  .mgs-tu-warp .notice {
    position: absolute !important;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 4px; }
  .mgs-tu-warp .mgs-tu-header {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr;
    align-items: end; }
    .mgs-tu-warp .mgs-tu-header h1 {
      font-size: 38px;
      font-weight: 800;
      padding: 0;
      font-family: 'Ubuntu', sans-serif; }
    .mgs-tu-warp .mgs-tu-header .sub-head {
      text-align: right; }
  .mgs-tu-warp .mgs-tu-state {
    display: grid;
    grid-template-columns: 200px 2fr 300px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
    .mgs-tu-warp .mgs-tu-state .mgs-tu-logo .logo {
      background-image: url("../imgs/logo-mgs.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      padding-bottom: 50%; }
    .mgs-tu-warp .mgs-tu-state .mgs-tu-logo .ver {
      text-align: left;
      margin-top: 10px;
      color: #ccc; }
    .mgs-tu-warp .mgs-tu-state .git-info {
      text-align: right;
      align-self: end; }
      .mgs-tu-warp .mgs-tu-state .git-info p {
        margin: 0;
        font-size: 0.9em;
        color: #333; }
        .mgs-tu-warp .mgs-tu-state .git-info p.update {
          margin-top: 20px; }
        .mgs-tu-warp .mgs-tu-state .git-info p.last-check {
          margin-top: 5px;
          font-size: 0.8em; }
  .mgs-tu-warp .mgs-tu-tabs {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-top: 40px;
    grid-gap: 20px; }
    .mgs-tu-warp .mgs-tu-tabs .ui-tabs-nav {
      margin: 0; }
      .mgs-tu-warp .mgs-tu-tabs .ui-tabs-nav li {
        margin: 0;
        padding: 0;
        border-radius: 20px; }
        .mgs-tu-warp .mgs-tu-tabs .ui-tabs-nav li a {
          color: #333;
          font-family: 'Ubuntu', sans-serif;
          font-size: 16px;
          font-weight: 400;
          padding: 10px 15px;
          display: block; }
        .mgs-tu-warp .mgs-tu-tabs .ui-tabs-nav li.ui-state-active {
          background-color: #E4E4E4; }
          .mgs-tu-warp .mgs-tu-tabs .ui-tabs-nav li.ui-state-active a {
            font-weight: 800; }
    .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel {
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      padding: 20px; }
      .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .title-seccion {
        margin: calc(20px * -1);
        padding: 0 20px;
        border-bottom: solid 2px #ccc;
        line-height: 3em;
        margin-bottom: calc(20px / 2);
        font-size: 18px;
        font-weight: 800;
        font-family: 'Ubuntu', sans-serif;
        color: #333; }
      .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table {
        margin: 0;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 200; }
        .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table tr {
          border-bottom: solid 1px #ccc; }
          .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table tr.save-seccion {
            border-bottom: none; }
        .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table th, .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table td.header-dependant {
          vertical-align: top;
          text-align: left;
          padding: 20px 10px 20px 0;
          font-weight: 300;
          width: 200px; }
          .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table th label, .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table td.header-dependant label {
            font-weight: 600;
            cursor: pointer;
            color: #333;
            font-size: 1.1em;
            letter-spacing: -.25px; }
          .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table th p.desc, .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table td.header-dependant p.desc {
            font-size: 0.9em; }
        .mgs-tu-warp .mgs-tu-tabs .ui-tabs-panel .form-table td .disabled-aviso {
          margin-left: 30px; }
