.mgs-tu-tabs {
  padding-top: 40px; }
  .mgs-tu-tabs ul.ui-tabs-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    display: flex; }
    .mgs-tu-tabs ul.ui-tabs-nav li {
      padding: 0;
      margin: 0 0 0 5px;
      border-left: solid 1px #ccc;
      border-top: solid 1px #ccc;
      border-right: solid 1px #ccc;
      background-color: #e5e5e5; }
      .mgs-tu-tabs ul.ui-tabs-nav li a {
        padding: 7px 14px;
        color: #555;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        display: block; }
      .mgs-tu-tabs ul.ui-tabs-nav li.ui-state-active {
        background-color: #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: -1px; }
        .mgs-tu-tabs ul.ui-tabs-nav li.ui-state-active a {
          color: #000; }
  .mgs-tu-tabs .ui-tabs-panel {
    margin-left: 20px; }

.mgs-tu-chk_small .description {
  margin-top: 0;
  margin-bottom: 4px; }
.mgs-tu-chk_small label {
  margin: 0 !important;
  font-size: 0.85em;
  line-height: 1em; }

.mgs-tu-row-test .mgs-tu-test-aviso {
  margin-top: 5px;
  line-height: 24px;
  font-weight: 600; }
  .mgs-tu-row-test .mgs-tu-test-aviso svg {
    margin-right: 5px;
    float: left; }
.mgs-tu-row-test.valid .mgs-tu-test-aviso {
  color: darkgreen; }
.mgs-tu-row-test.not-valid .mgs-tu-test-aviso {
  color: darkred; }

.form-table td label p.alert {
  font-weight: 600;
  color: darkorange; }
