.mgs-lightbox-addon-sc{
	display: block;
}
.mgs-lightbox-warpper{
	display: none;
	max-width: 1000px;
	.mgs-lightbox-grid{
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 15px;
		.mgs-lightbox-img{
			.mgs-lightbox-img-warpper{}
		}
		.mgs-lightbox-content{
			.mgs-lightbox-content-warper{
				h3.mgs-lightbox-content-title{
					margin-top: 0;
				}
				.mgs-lightbox-content-desc{
					font-size: 14px;
					line-height: 16px;
				}
			}
		}
	}
	.fancybox-close-small{width: 44px;}
	
	
	/*	theme basico: */
	&.theme-basico{
		padding: 0;
		max-width: 800px;
		background-color: rgba(0,0,0,0.3);
		.mgs-lightbox-grid{
			display: block;
			.mgs-lightbox-content{
				padding: 0 15px;
				color: #fff;
			}
		}
		.fancybox-close-small{
			border: none;
			background-color: #fff;
			svg{
				path{
					fill: #000;
				}
			}
		}
	}
}

.mgs-gallery-lightbox{
	.mgs-gallery-lightbox-warpper{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		&.columns-2{grid-template-columns: repeat(2, 1fr);}
		&.columns-3{grid-template-columns: repeat(3, 1fr);}
		&.columns-4{grid-template-columns: repeat(4, 1fr);}
		&.columns-5{grid-template-columns: repeat(5, 1fr);}
		&.columns-6{grid-template-columns: repeat(6, 1fr);}
		&.columns-7{grid-template-columns: repeat(7, 1fr);}
		&.columns-8{grid-template-columns: repeat(8, 1fr);}
		&.columns-9{grid-template-columns: repeat(9, 1fr);}
		&.columns-10{grid-template-columns: repeat(10, 1fr);}
		
		&.theme-basico{
			grid-gap: 15px;
		}
	}
}