.mgs-forms-wrapper{
    form{
        .mgs-forms-item{
            .mgs-forms-control{
                background-color: transparent;
                &:focus{
                    box-shadow: none;
                }
            }

            .mgs-forms-label{
                cursor: pointer;
                &.mgs-forms-label-floted{
                    left: 0.8em;
                }
            }

            p.help{
                font-size: 0.6em;
                opacity: 0.7;
                margin-bottom: 0;
            }

            svg{
                &.ico-js{
                    position: absolute;
                    right: calc( (var(--bs-gutter-x) / 2) + 5% );
                    top: 50%;
                    transform: translateY(-50%) scale(1.2);
                    z-index: -1;
                }
            }
        }
        /*
        
        */

        /*display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1em;
        .mgs-forms-item{
            font-weight: 300;
            font-size: 1em;

            input[type=date],
            input[type=email],
            input[type=number],
            input[type=password],
            input[type=phone-number],
            input[type=text],
            select,
            textarea{
                border-radius: 0.3em;
                border: solid 1px darkslategrey;
                background-color: white;
                font-size: 1.2em;
                color: darkslategrey;
                width: 100%;
                outline: 0;
                padding: 0.5em;
                line-height: 1em;
                height: 50px;
                box-sizing: border-box;
                &:focus{
                    box-shadow: none;
                    border-color: royalblue;
                }
            }
            textarea{height: auto;}

            .help{
                font-size: 0.9em;
                margin: 0;
            }

            .checkbox, .radio{
                label{
                    cursor: pointer;
                }

                &.inline{
                    display: inline;
                }

                &.FontAwesomeReplace{
                    input[type="checkbox"], input[type="radio"]{
                        display: none;
                        + label:before {
                            font-family: "Font Awesome 5 Free";
                            display: inline-block;
                            content: "\f0c8";
                            letter-spacing: 5px;
                            font-size: 1.3em;
                        }
                        &:checked{
                            + label:before {
                                content: "\f14a";
                            }
                        }
                    }
                    input[type="radio"]{
                        + label:before {content: "\f111";}
                        &:checked{
                            + label:before {
                                content: "\f058";
                            }
                        }
                    }
                }
            }

            .mgs-forms-label{
                font-weight: 700;
                cursor: pointer;

                .required{
                    color: red;
                }
            }

            &.mgs-col-12{grid-column: span 12;}
            &.mgs-col-11{grid-column: span 11;}
            &.mgs-col-10{grid-column: span 10;}
            &.mgs-col-9{grid-column: span 9;}
            &.mgs-col-8{grid-column: span 8;}
            &.mgs-col-7{grid-column: span 7;}
            &.mgs-col-6{grid-column: span 6;}
            &.mgs-col-5{grid-column: span 5;}
            &.mgs-col-4{grid-column: span 4;}
            &.mgs-col-3{grid-column: span 3;}
            &.mgs-col-2{grid-column: span 2;}
            &.mgs-col-1{grid-column: span 1;}
        }*/
    }
}