@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$bg: #f1f1f1;
$gris: #ccc;
$margin_seccion: 40px;
$padding_seccion: 20px;

@mixin shadow{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

@mixin efect-hover{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

body{
    &.settings_page_mgs_theme_upgrade_page{
        background-color: $bg;
    }
}

.mgs-more-help-tooltip{
	@include efect-hover;
	display: inline-block;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: solid 1px $gris;
	position: relative;
	cursor: help;
	i.icon{
		margin: 0;
		font-size: 9px;
		line-height: 16px;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		color: $gris;
		@include efect-hover;
	}
	&:hover{
		@include efect-hover;
		border-color: #333;
		i.icon{
			color: #333;
			@include efect-hover;
		}
	}
	
}

.mgs-admin-warp{
    font-family: 'Ubuntu', sans-serif;
    margin-top: $margin_seccion;
    width: calc(100% - 50px);
    padding-left: calc(#{$padding_seccion} / 2);
    
    .notice{
        position: absolute !important;
        width: 30%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        border-radius: 4px;
    }
    
    
    .mgs-admin-header{
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 1fr 1fr;
        align-items: end;
        h1{
            font-size: 38px;
            font-weight: 800;
            padding: 0;
            font-family: 'Ubuntu', sans-serif;
        }
        .sub-head{
            text-align: right;
        }
    }
    
    .mgs-admin-state{
        display: grid;
        grid-template-columns: 200px 2fr 300px;
        background-color: #fff;
        border-radius: 4px;
        margin-top: $margin_seccion;
        padding: $padding_seccion;
        @include shadow;
        .mgs-admin-logo{
            .logo{
                background-image: url("../imgs/logo-mgs.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                padding-bottom: 50%;
            }
            .ver{
                text-align: left;
                margin-top: 10px;
                color: $gris;
            }
        }
        
        .git-info{
            text-align: right;
            align-self: end;
            p{
                margin: 0;
                font-size: 0.9em;
                color: #333;
                &.update{
                    margin-top: 20px;
                }
                &.last-check{
                    margin-top: 5px;
                    font-size: 0.8em;
                }
            }
        }
    }
    
    .mgs-admin-tabs{
        display: grid;
        grid-template-columns: 200px 1fr;
        margin-top: $margin_seccion;
        grid-gap: $padding_seccion;
        .ui-tabs-nav{
            margin: 0;
            li{
                margin: 0;
                padding: 0;
                border-radius: 20px;
                a{
                    color: #333;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 10px 15px;
                    display: block;
                }
                &.ui-state-active{
                    background-color: #E4E4E4;
                    a{
                        font-weight: 800;
                    }
                }
            }
        }
        .ui-tabs-panel{
            background-color: #fff;
            @include shadow;
            padding: $padding_seccion;
            .title-seccion{
                margin: calc(#{$padding_seccion} * -1);
                padding: 0 $padding_seccion;
                border-bottom: solid 2px $gris;
                line-height: 3em;
                margin-bottom: calc(#{$padding_seccion} / 2);
                font-size: 18px;
                font-weight: 800;
                font-family: 'Ubuntu', sans-serif;
                color: #333;
            }
            .form-table{
                margin: 0;
                font-size: 14px;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 200;
                tr{
                    border-bottom: solid 1px $gris;
                    &.save-seccion{
                        border-bottom: none;
                    }
                }
                th, td.header-dependant{
                    vertical-align: top;
                    text-align: left;
                    padding: 20px 10px 20px 0;
                    font-weight: 300;
                    width: 200px;
                    label{
                        font-weight: 600;
                        cursor: pointer;
                        color: #333;
                        font-size: 1.1em;
                        letter-spacing: -.25px;
                    }
                    p.desc{
                        font-size: 0.9em;
                    }
                }
                td{
                    .disabled-aviso{
                        margin-left: 30px;
                    }
					&.header-dependant{
						width: 300px;
					}
                }
            }
        }
    }
}